.message {
    display: flex;
    max-width: 1280px;
    margin: 0 auto 47px;
    flex-direction: column;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    align-self: end;

}

.text {
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 0;
    padding: 13px 13px 8px;
    background: #0066CC;
    color: white;
    border-radius: 15px 15px 0 15px;
    position:relative;
}

.text:after {
    position: absolute;
    content:"";
    right: -20px; bottom: 0;
    border: 20px solid transparent;
    border-bottom: 7px solid #0066CC;
    border-left: 7px solid #0066CC;
}

.name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    align-self: end;

}

.messageText {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;

}

.time {
    margin-right: 12px;
    align-self: end;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}