.input:focus {

}

.input {
    display: inline-block;
    Width: 372px;
    Height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    outline: none;
    margin-right: 12px;
    padding-left: 12px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {

}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {
    font-size: 50px;

}

.error {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #CC1439;
}
